body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../pictures/triangular_@2X.png");
}

.navbar-header {
	width: 300px;
	height: 90px;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 90px;
	color: #fff;
	text-align: center;
	background: #4aaaa5;
}

.navbar-header a {
	text-decoration: none;
	color: white;
}

.navbar-right {
	margin-top: 25px;
	font-size: 18px;

}


footer {
  padding: 30px 0;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

footer.container-fluid {
	margin:0;
}

#bootover > section:nth-child(3) > div > div > div {
	padding: 0;
}

#bootover > section:nth-child(1) > nav > div > div {
	padding: 0;
}

.profile {
	float: left;
	margin-right: 10px;
}

.main-section p {
	float: left;
}

.social {
	max-width: 70px;
	text-align: center;
}

@media screen and (max-width: 720px) {

div.navbar-header {
	width: 100%;
	margin-right: 0px;
	padding-right: 0px;
}

div.container-fluid {
	padding-right: 0px;


}

#bootover > section:nth-child(1) > nav > div > div > div.navbar-header {
	padding: 0px;
	margin: 0px;
}

#bootover > section:nth-child(1) > nav > div > div > div.navbar-header {
	padding: 0px;
	margin: 0px;
}

#bootover > section:nth-child(1) > nav > div {
	padding: 0px;
}

#bootover > section:nth-child(1) > nav > div > div > button {
	float: left;
}

}

